@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "App.css";
@import "SearchForm.css";
@import "Table.css";

:root {
  --primary-color: #ec4e4e;
  --primary-color-dark: #bb3030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

#root {
  margin: 0 auto;
  max-width: 50rem;
}
